<h1 class="jon">All Users</h1>

<ol>
  <% @users.each do |user| %>
    <li><%= user.username %>
    <a href="/users/<%=user.id%>">Go to this post</a>
    <%= link_to 'Go to this User\'s Page ', user %>
    <%= link_to 'Edit this User', edit_user_path(user) %>
  </li>
    <br>

  <% end %>
  <%= link_to 'Show All Posts', posts_path %>
</ol>
