<!DOCTYPE html>
<html>
  <head>
    <title>InClassBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <br>
    <br>
    <p class="log_out">
    <%= link_to 'Log Out', new_session_path %>
    <br>
    <%= link_to 'Back To My Dashboard', user_path(:id) %>
  </p>
  </body>
</html>
